{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": ["error"],
    "quotes": "off",
    "@typescript-eslint/quotes": ["error", "single"],
    "no-extra-parens": "off",
    "@typescript-eslint/no-extra-parens": ["warn"],
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "warn",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "space-before-function-paren": "off",
    "@typescript-eslint/space-before-function-paren": ["warn"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "arrow-parens":"error"
  }
}